form {
	height: 20rem;
	background: rgba(120, 149, 200, 0.4);
	border-radius: 1rem;
}

.jumbotron {
	background: none;
}

html, body {
	color: white;
}

li {
	line-height: 2;
}

span {
	color: rgba(255, 206, 0, 1);
}

h2 {
	font-weight: 300 !important;
}

.example-link {
	color: rgba(255, 206, 0, 1);
	text-decoration: underline;
}

.tinted-image {
	background:
	  linear-gradient(rgba(42, 38, 61, 0.5),
	  rgba(42, 38, 61, 0.5)),
	  url("../images/article-break-business-920115.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	/* background-position: top; */
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; 
	min-height: 80%;
	}