

article {
	border: 3px solid black;
}


.highlight {
	background: yellow;
}

.highlight:hover {
	font-size: 24px;
	border: 1px solid black;
}






#main {

	/* padding-top: 4em; */
	/* margin-top: 4em; */
	/* display: flex;
	flex-direction: column; */
	/* flex-wrap: wrap; */
	/* flex-grow: 0; */
	
}
.score-paragraph-styles {
	/* display: flex;
	align-self: flex-end; */
}

article {

}

