html, body {
	font-family: 'Noto Serif JP', serif;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	background-image: url("../images/article\ collage.jpg");
}

.paragraph-styling {
	text-indent: 2em;
}

article {
	border: 3px solid black;
	background-color: #ffffff;
}

h2 {
	font-weight: 700 !important;
}

#overall-score {
	font-weight: 700;
}

.highlight {
	background: yellow;
}

.highlight:hover {
	font-size: 24px;
	border: 1px solid black;
}


/* 
 .tooltip-inner {
	background-color: #ff0000 !important;
	color: #fff;
}

.red-tool-tip .tooltip.top .tooltip-arrow {
	border-top-color: red;
}

.red-tool-tip > .tooltip.right .tooltip-arrow {
	border-right-color: red;
}
  
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #00acd6;
}
  
.tooltip.left .tooltip-arrow {
	border-left-color: #00acd6;
} */



.flex-item {
	flex-grow: 1;
	 flex-shrink: 1;
}

#main {
	width: 100vw;
	height: 100%;
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    body, html {
		font-size: 19px;
	}

  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    body, html {
		font-size: 18px;
	}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    body, html {
		font-size: 18px;
	}

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    body, html {
		font-size: 18px;
	}
  }

  /*
